@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Microsoft Band Health Data Tracking Demo</h1>
    <p class="lead">This website stores and collects health data. The Microsoft Band's powerfull and accurate sensors are access through the Android SDK and Post Data using our API</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Heart Rate", "Index", "Pulse")</h2>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Activity Level", "Index", "ActivityLevels")</h2>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Skin Temperature", "Index", "SkinTemperatures")</h2>
    </div>
</div>