<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://msbandhealth.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>msbandhealth.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MSBandHealth</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MSBandHealth</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ApplicationDbContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:tf8rkzprpo.database.windows.net,1433;Initial Catalog=MSBandHealth_db;User ID=Ethan@tf8rkzprpo;Password=Password!" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MSBandHealth.Models.ApplicationDbContext, MSBandHealth" MigrationConfiguration="MSBandHealth.Migrations.Configuration, MSBandHealth" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ApplicationDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:tf8rkzprpo.database.windows.net,1433;Initial Catalog=MSBandHealth_db;User ID=Ethan@tf8rkzprpo;Password=Password!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>